{{ attach_library('civiremote_funding/application_history') }}

<h1>History</h1>

<fieldset class="form-item form-wrapper">
  <legend class="fieldset__legend">{{ 'Filter'|trans }}</legend>
  <div>
    <button type="button" class="button" data-activity-filter="workflow">
      {{ 'Hide workflow actions'|trans }}
    </button>
    <button type="button" class="button" data-activity-filter="comment">
      {{ 'Hide comments'|trans }}
    </button>
  </div>
</fieldset>

{% for activity in activities %}
  {% if activity.activityTypeName == 'funding_application_comment_external' %}
    {{ include('@civiremote_funding/application/activity/comment.html.twig') }}
  {% elseif activity.activityTypeName == 'funding_application_status_change' %}
    {{ include('@civiremote_funding/application/activity/status-change.html.twig') }}
  {% elseif activity.activityTypeName == 'funding_application_create' %}
    {{ include('@civiremote_funding/application/activity/create.html.twig') }}
  {% endif %}
{% endfor %}
